<div class = "row">
	<div class = "col-xs-6">
		<section class = "items-new">
			<h3 class = "items-new-headline">商品一覧</h3>

			<%= link_to do %>
				<button class = "btn btn-default">+</button>
			<% end %>

			<table>
				<thead>
					<tr>
						<th>商品ID</th>
						<th>商品名</th>
						<th>税抜価格</th>
						<th>ジャンル</th>
						<th>ステータス</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>洋梨のチーズタルト</td>
						<td>1,200</td>
						<td>ケーキ</td>
						<td>販売中</td>
					</tr>
				</tbody>
			</table>

		</section>
	</div>
</div>