<div class = "container">

	<div class = "row my-5">
		<div class = "offset-md-1">

<h3><span class = "px-4 bg-light">管理者画面</span></h3>

		<h4 class="mt-5">本日の注文件数　　　

      	<%= link_to admins_today_orders_path do %>
        <%= Order.where(created_at:  Time.zone.now.all_day).count %>
        <% end %>件

    	</h4>

    	</div>
    </div>
</div>